:root{

    --color_principal: rgba(19, 43, 110, 0.438);

    --beige: rgb(237, 232, 208);
    --celeste_oscuro: rgb(36, 95, 119);
    --azul_marino: rgb(0, 64, 128);
    --verde: rgb(0, 128, 0);
    --esmeralda: rgb(0, 153, 117);
    --turqueda: rgb(93, 193, 185);
    --rosa_rojo: rgb(162, 62, 70);
    --añil: rgb(9, 66, 147);
    --azul_aciano: rgb(100, 149, 237);
    --aguamarina: rgb(159, 213, 209);
    --azul: rgb(0, 0, 255);
    --rosado: rgb(255, 0, 255);
    --azul_noche: rgb(37, 40, 80);
    --rubi: rgb(155, 17, 30);
    --rojo_tomate: rgb(161, 35, 18);
    --violeta_perlado: rgb(134, 115, 161);
    --limon: rgb(227, 255, 0);
    --magenta_claro: rgb(173, 142, 168);
    --orquidea: rgb(218, 112, 214);
    --carbon: rgb(25, 25, 25);
    --verde_trafico: rgb(48, 132, 70);
    --verde_palido: rgb(137, 172, 118);
    --oliva: rgb(128, 128, 0);
    --miel: rgb(235, 188, 78);
    --terracota: rgb(196, 88, 36);
    --cafe_oscuro: rgb(128, 64, 0);
    --cafe: rgb(150, 75, 0);
    --chocolate: rgb(123, 63, 0);
    --almendra: rgb(238, 217, 196);
    --onix: rgb(53, 56, 57);
    --verde_menta: rgb(173, 235, 179);
    --escarlata: rgb(237, 33, 0);
    --platino: rgb(217, 217, 217);
    --eucalipto: rgb(68, 215, 168);
    --verde_militar: rgb(93, 101, 50);
    --sandia: rgb(252, 108, 133);
    --mango: rgb(253, 190, 2);
    --vainilla: rgb(243, 229, 171);
    --celeste: rgb(178, 255, 255);
    --berenjena: rgb(97, 64, 81);
    --carmesi: rgb(178, 34, 34);
    --rojo_oscuro: rgb(149, 6, 6);
    --rosa_pastel: rgb(255, 197, 211);
    --azul_electrico: rgb(0, 240, 255);
    --verde_musgo: rgb(126, 140, 84);
    --azul_pastel: rgb(179, 235, 242);
    --oxido: rgb(183, 65, 14);
    --cobre: rgb(198, 131, 70);
    --vino: rgb(114, 47, 55);
    --ciruela: rgb(142, 69, 133);
    --huevo: rgb(255, 210, 60);
    --naranja_brillante: rgb(255, 35, 1);
    --viridian: rgb(0, 130, 90);
    --rojo_sagre: rgb(192, 0, 0);
    --verde_amarillo: rgb(198, 206, 0);
    --verde_azulado: rgb(0, 128, 128);
    --rojo_anaranjado: rgb(255, 69, 0);
    --chicle: rgb(255, 193, 204);
    --indigo: rgb(75, 0, 130);
    --cyan_oscuro: rgb(0, 139, 139);
    --teal: rgb(0, 128, 128);
    --amaranto: rgb(229, 43, 80);
    --jade: rgb(0, 168, 107);
    --esparrago: rgb(123, 160, 91);
    --marfil: rgb(255, 253, 208);
    --durazno: rgb(255, 200, 160);
    --zanahoria: rgb(237, 145, 33);
    --sesamo: rgb(255, 140, 105);
    --amatista: rgb(153, 102, 204);
    --caqui: rgb(148, 129, 43);
    --ocre: rgb(204, 119, 34);
    --siena: rgb(184, 115, 51);
    --siena_palida: rgb(218, 138, 95);
    --ceruleo: rgb(155, 196, 226);
    --zafiro: rgb(1, 49, 180);
    --azabache: rgb(31, 27, 28);
    --grafito: rgb(28, 28, 28);
    --plomo: rgb(85, 85, 85);
    --banana: rgb(248, 222, 126);
    --azufre: rgb(234, 230, 121);
    --canela: rgb(189, 138, 62);
    --canela_oscuro: rgb(148, 93, 49);
    --calipso: rgb(49, 170, 193);
    --fandango: rgb(181, 51, 137);
    

}

