@font-face {
    
    font-family: "oswald";
    src: url("fonts/Oswald-VariableFont_wght.ttf");
}

@font-face{

    font-family: "playfair";
    src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@media (max-width: 600px) {
    
    h1, h2, .contenedor_lista{
       
        
       display: block;
       font-size: 6vw;
    }
}

body{
    
    background-color: var(--color_principal);
}

h1{

    text-align: center;
    font-family: "oswald";

    font-variation-settings: "wght" 300;
    text-decoration: underline;

    animation: animacion_titulo .8s infinite ease-out;


}

h2{

    font-family: "oswald";

    text-align: center;


}



.contenedor_lista{

    display: block;

    word-spacing: 2px;
    margin-top: 100px;

    font-size: 19px;
    font-family: "playfair";

    
    
}

.pokemon{

    cursor: pointer;

    transition: font-size .28s ease-in-out;
}

.pokemon:hover{

    font-size: 30px;
}

.res_4{

    cursor: pointer;

    transition: font-size .28s ease-in-out;
}


.res_4:hover{

    font-size: 30px;
}


.balatro{
    
    cursor: pointer;    
    
    transition: font-size .28s ease-in-out;

}

.balatro:hover{

    font-size: 30px;
}


.kingdom_hearts{

    cursor: pointer;

    transition: font-size .28s ease-in-out;
}

.kingdom_hearts:hover{

    font-size: 30px;
}

.toast{

    font-size: 29px;

    margin-top: 0px;

    font-style: italic;
    text-align: center;
    
    animation: toast ease-out .8s;

    cursor: pointer;
}

progress{
    
    filter: drop-shadow(4px 2px 0.5px black);
    position: absolute;

    width: 300px;
    height: 30px;


    margin-top: -70px;
    transform: scaleY(3);
}

